@media screen and (min-width: 768px) and (max-width: 1024px) {
  .el-table {
    th {
      padding: 5px 0;
    }
    td {
      padding: 5px 0;
    }
  }
  .el-button {
    padding: 6px 10px;
  }
  // 运营参数配置
  .operate {
    .dogmi {
      .el-input {
        width: 150px !important;
      }
    }

    .el-date-editor {
      width: 150px !important;
    }
  }
  // 房台
  .room-manage {
    .el-dialog {
      width: 75% !important;
    }
  }
  // 计费套餐
  .billing-package {
    .el-dialog {
      width: 75% !important;
    }
  }
  // 物品管理
  .commoduty-manage {
    .commoduty-manage-top {
      .commoduty-manage-top-item {
        width: 200px !important;
        .el-input {
          width: 140px !important;
        }
      }
    }
    .el-dialog {
      width: 80% !important;
    }
  }
  // 套餐
  .set-meat {
    .set-meat-top-item {
      width: 200px !important;
      .el-input {
        width: 140px !important;
      }
    }
    .el-dialog {
      width: 80% !important;
    }
  }
  //   th {
  // .el-table {
  //     padding: 0 !important;
  //   }
  //   td {
  //     padding: 0 !important;
  //   }
  // }
}
